// RESPONSIVE STUFF



// TESTIMONIALS SECTION

.testimonials
	hr.mob-only
		margin-top 1rem
		margin-bottom 1rem
		margin-left 1rem
		margin-right 1rem
		
@media (min-width: $sm) and (max-width: $lg - 1px)
	.testimonials
		h1
			margin-bottom 0
		.testimonial
			margin-top 1.5rem
			

		
@media (min-width: $sm)
	hr.mob-only
		display none
