img
	width: 50%;
	transition: 0.3s;
	filter:	drop-shadow(0 16px 16px rgba(0, 0, 0, 0.75)) drop-shadow(0 24px 24px rgba(0, 0, 0, 0.5)) drop-shadow(0 24px 24px rgba(0, 0, 0, 0.25))	drop-shadow(0 48px 48px rgba(0, 0, 0, 0.25)) drop-shadow(0 64px 64px rgba(0, 0, 0, 0.25))


// PULSE ANIMATION:
.pulse
	display: inline-block;
	animation: pulse 3s ease-in-out infinite;
	backface-visibility: hidden;
	will-change: transform;
	transform-origin: 50% 50%;
	
@keyframes pulse
	0%
		width: 25%;
		// transform: scale(0.99)
		// filter: blur(.5px) drop-shadow(1rem 1rem 1rem #000) drop-shadow(-1rem 1rem 1rem rgba(255, 0, 0, 0.5)) drop-shadow(1rem 1rem 1rem rgba(0, 0, 255, 0.5)) drop-shadow(0px -1rem 1rem rgba(0, 255, 0, 0.5));
	50%
		width: 26%;
		// transform: scale(1.03)
		// filter: blur(0px) drop-shadow(1rem .25rem 1rem #000) drop-shadow(.25rem 1rem 1rem rgba(255, 0, 0, 0.5)) drop-shadow(1rem .25rem 1rem rgba(0, 0, 255, 0.5)) drop-shadow(0px -1rem .25rem rgba(0, 255, 0, 0.5));
	100%
		width: 25%;
		// transform: scale(0.99)
		// filter: blur(.5px) drop-shadow(1rem 1rem 1rem #000) drop-shadow(-1rem 1rem 1rem rgba(255, 0, 0, 0.5)) drop-shadow(1rem 1rem 1rem rgba(0, 0, 255, 0.5)) drop-shadow(0px -1rem 1rem rgba(0, 255, 0, 0.5));
