.no-click
	pointer-events none
	-webkit-user-drag none
	user-select: none 

.flex
	display flex
	
.flex.row
	flex-direction row

.flex.col
	flex-direction column
	
.flex.wrap
	flex-wrap wrap

.cc
	justify-content center
	align-items center
	
