a.link
	color white

a.btn
	text-decoration none
	max-width calc(100% - 2px)
	padding 1rem
	border-radius .25rem
	transition: .3s
	display: flex
	align-items: center
	font-size 1.125rem
	user-select none
	draggable: false
	user-drag: none
	-webkit-user-drag: none
	-moz-user-select: none
	-webkit-user-select: none
	-ms-user-select: none
	backdrop-filter blur(4px)
	font-family: Times New Roman, serif

a.btn.fill
	// border: 1px solid #a7885b
	color: #a7885b
	letter-spacing: 0.075rem
	justify-content: space-between
	
	// border: 1px solid transparent
	background: linear-gradient(transparent, transparent) padding-box, linear-gradient(to right, #a7885b33, transparent) border-box
	border: 1px solid rgba(167, 136, 91, 0.502)

	span:nth-child(2)
		margin-right .5rem
	span:nth-child(2)
		transition .3s
	&:hover
		color black
		border-color #a7885b3
		background-color #a7885b
		box-shadow: inset 0 0 .05rem .0725rem black
		span:nth-child(2)
			margin-right 0
	&:active
		background-color black
		color: #a88a5d80
		border-color #a7885b33
	// &:before
	// 	content: ''
	// 	position: absolute
	// 	inset: 0
	// 	padding: .5px 
	// 	background: linear-gradient(270deg, #a88a5d80, transparent)
	// 	-webkit-mask: linear-gradient(#fff 0 0) content-box, 
	// 	              linear-gradient(#fff 0 0)
	// 	mask: linear-gradient(#fff 0 0) content-box, 
	// 	      linear-gradient(#fff 0 0)
	// 	-webkit-mask-composite: xor
	// 	mask-composite: exclude
	// 	border-radius: inherit


a.btn.void
	color white
	// border: 1px solid #666;
	border: 1px solid #ffffff54
	cursor pointer
	&:hover
		color black
		background-color: white
		border-color: white
		border: 1px solid #aaa
		span:nth-child(2)
			margin-right 0
	&:active
		background-color #111
		color: white
