// html.dark
	// background-color: black

::selection
	background-color: #33333380
	// color: #a7885b
	color: inherit

.deep-shadow
	filter:	drop-shadow(0 16px 16px rgba(0, 0, 0, 0.75)) drop-shadow(0 24px 24px rgba(0, 0, 0, 0.5)) drop-shadow(0 24px 24px rgba(0, 0, 0, 0.25))	drop-shadow(0 48px 48px rgba(0, 0, 0, 0.25)) drop-shadow(0 64px 64px rgba(0, 0, 0, 0.25))

html
	// scrollbar-color: #a7885b transparent
	// scrollbar-color: white transparent
	scrollbar-width: thin
