// GLOBAL
$rem	= 16px

// GRID BREAKPOINTS & WRAPPER
$xs			= 320px
$sm		= 576px
$md		= 768px
$lg			= 992px
$xl			= 1367px

$wrp = 1366px

// scrollbar
	// html {scrollbar-width: none}
	// ::-webkit-scrollbar{display: none}

