// GLOBAL
$rem	= 16px
html
	// background-color: #111
	background-color: black
::selection {background-color: #222; color: white}

// GRID BREAKPOINTS & WRAPPER
$xs			= 320px
$sm		= 576px
$md		= 768px
$lg			= 992px
$xl			= 1367px

$wrp = 1366px

// scrollbar
	// html {scrollbar-width: none}
	// ::-webkit-scrollbar{display: none}

// BASE COLORS
	// $primary

// SOC MEDIA ICONS
// $default-ico-col = black
// $default-ico-bg = black
// $ico-fb-color= #1877f2
// $ico-tw-color = #55ACEE
// $ico-ln-color = #0077B5
// $ico-fb-color= black
// $ico-tw-color =black
// $ico-ln-color = black

// ROOT DEFS
// :root
// 	--headerHeight 4rem
// 	--headerColorInitial rgba(255, 255, 255, 0.75)
// 	--headerColor2 whitesmoke
// 	--taglineBgColor white
// 	--icoFBcolor $ico-fb-color
// 	--icoTwColHov $ico-tw-color
// 	--icoLNcolHov $ico-ln-color



